html {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 400%;
}

.me {
  border-radius: 100%;
  border: 1px solid;
  width: 100px;
  height: 100px;
  margin-left: 50%;
  margin-right: 50%;
  object-fit: cover;
}

.container {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
  width: 90px;
  height: 80px;
  position: relative;
  padding: 30px;
}

footer {
  background-color: #1E2B64;
  color: #fff;
  padding: 5px 20px;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}